.box {
    width: 50%;
    height: 50vh;
    border: solid 5px red;
    margin: 10% auto;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.body {
    font-size: 40px;
}

.item {
    width: 45px;
    height: 45px;
    background: #eee;
    margin: 1%;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
}

.box:hover .item {
    transform: translateX(200px);
}

.item:hover {
    transform: scale(2);
    border-radius: 50%;
}

.picture {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    border: solid 1px red;
    overflow: hidden;
    margin-bottom: 10%;
    position: relative;  
}

.picture:hover figcaption {
    bottom: 0;
}

.picture > figure > img {
    width: 100%;
}

.picture > figure > figcaption {
    width: 100%;
    background: #333;
    color: #fff;
    position: absolute;
    bottom: 5px;
    text-align: center;
    transition-duration: 0.5s;
}

.picture > figure {
    height: 300px;
    position: relative;
}

.a {
    color: rebeccapurple;
}

.b {
    color: burlywood;
}

.c {
    color: cornflowerblue;   
}

